.tasks {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.tasks h1 {
  font-size: 1.5rem;
  text-align: center;
}

.worked-hours {
  display: flex;
  justify-content: right;
  align-items: center;
}

.worked-hours .worked-hours-counter {
  font-size: 1.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.tasks ul {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 0;
}

.tasks ul,
.tasks li {
  list-style-type: none;
}

.tasks li {
  padding: 5px;
}

.tasks li:hover {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 4px;
}

.tasks button {
  width: 200px;
  background-color: transparent;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.tasks .previous-interval-and-input {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
}

.tasks .previous-interval {
  width: 200px;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
}

.tasks ul .hide {
  display: none;
}
